.welcome-wrapper{
    background-image: linear-gradient(to bottom, rgb(34,40,49, 0.9), rgba(34,40,49, 0.9)),url('./../../images/team.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .welcome-text-wrapper{
        margin: auto;
        text-align: center;
        padding: 0 1rem;
        p{
            font-size: 1.2rem;
            font-weight: 600;
            color: #13b1c5;
        }
        h1{
            font-size: 3.8rem;
            color: #fff;
            margin: 1rem 0;
        }
        h1:after{
            content: "Creative Agency"; 
            animation: animate infinite 10s; 
        }
        @keyframes animate {     
            50% { 
                content: "Free Icons Fonts"; 
            } 
    
            75% { 
                content: "Beautiful Design"; 
            } 
        }
        .description{
            font-size: 1rem;
            line-height: 1.5rem;
            color: #cfd1e3;
            font-weight: 500;
            padding: 0 20%;
            margin: auto;
        }
        .btn-wrapper{
            margin-top: 1rem;
            .link{
                text-decoration: none;
                .btn{
                    border: none;
                    outline: none;
                    color: #000000;
                    border-radius: 2rem;
                    padding: 1rem 3rem;
                    font-size: 0.9rem;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    margin: 0 0.5rem;
                    display: inline-block;
                    &:hover{
                        background-color: #13b1c5;
                        color: #fff;
                    }
                }
                .btn.about{
                    background-color: #13b1c5;
                    color: #fff;
                    &:hover{
                        background-color: #fff;
                        color: #000000;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .welcome-wrapper{
        height: 100vh;
        .welcome-text-wrapper{
            h1{
                font-size: 2.5rem;
            }
            .description{
                width: 100%;
                font-size: 0.8rem;
            }
            .btn-wrapper{
                margin-top: 0.5rem !important;
                .link{
                    .btn{
                        font-size: 0.8rem;
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px){
    .welcome-wrapper{
        .welcome-text-wrapper{
            h1{
                font-size: 1.9rem;
            }
            .btn-wrapper{
                .link{
                    .btn{
                        font-size: 0.7rem;
                        padding: 0.7rem 2rem;
                    }
                }
            }
        }
    }
}
