.about-wrapper{
    display: flex;
    align-items: center;
    padding: 5rem 0 6rem;
    background-color: #212332;
    .about-details{
        width: 50%;
   
        .about-description{
            margin-top: 1.8rem;
            p{
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.8rem;
                color: #a2b2bb;
            }
        }
        .btn-wrapper{
            margin-top: 2rem;
            .link{
                text-decoration: none;
                .btn{
                    border: none;
                    outline: none;
                    color: #000000;
                    border-radius: 2rem;
                    padding: 1rem 2.7rem;
                    font-size: 0.9rem;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    margin: 0 0.5rem;
                    display: inline-block;
                    &:hover{
                        background-color: #13b1c5;
                        color: #fff;
                    }
                }
                .btn.about{
                    background-color: #13b1c5;
                    color: #fff;
                    &:hover{
                        background-color: #fff;
                        color: #000000;
                    }
                }
            }
        }
    }
    .about-image{
        width: 50%;
        text-align: end;
        img{
            width: 80%;
        }
    }
}

@media(max-width:768px){
    .about-wrapper{
        padding: 5% 1rem;
        flex-direction: column;
        .about-details{
            width: 100%;
            
        }
        .about-description{
            p{
                font-size: 1.1rem;
            }
        }
        .btn-wrapper{
            margin-top: -1rem !important;
            .link{
                .btn{
                    width: 12rem;
                    padding: 0.5rem 1rem;
                    font-size: 0.8rem !important;
                }
            }
        }
        .about-image{
            width: 100%;
            margin-top: 3rem !important;
            img{
                width: 90%;
            }
        }
    }
}
