.contact-wrapper {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-color: #212332;
  background-image: linear-gradient(
      to bottom,
      rgb(34, 40, 49, 0.97),
      rgba(34, 40, 49, 0.95)
    ),
    url('./../../images/stats.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .contact {
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    form {
      width: 65%;
      height: 100%;
      @media (max-width: 800px) {
        width: 100%;
      }
      .input-wrapper {
        .input {
          background: transparent;
          color: #ffffff !important;
          padding: 1rem;
          border: 1px solid #6192a5;
          font-size: 15px;
          border-radius: 15px;
          margin-bottom: 10px;
          outline: none;
          margin-top: -1rem;
        }
      }
      .submit-btn {
        width: 100%;
        margin-top: -0.5rem;
        padding: 15px;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        outline: none;
        cursor: pointer;
        border: none;
        background: #13b1c5;
      }
    }
    .contact-details {
      width: 35%;
      padding: 0 5%;
      height: 100%;
      @media (max-width: 800px) {
        width: 100%;
        margin-top: -3rem;
      }
      .contact-item {
        margin-bottom: 3.7rem;
        .icon {
          color: #13b1c5;
          font-size: 2rem;
        }
        .text-wrapper {
          margin-top: -0.5rem;
          p {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: -0.5rem;
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }
}
