.footer-wrapper {
  background: #212332;
  padding-bottom: 20px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  .pre-footer {
    padding: 2rem 0;
    padding-bottom: 4rem;
    background-color: #2b2e41 !important;
    text-align: center;
    h3 {
      font-size: 2rem;
    }
    .social-wrapper {
      text-align: center;
      display: flex;
      gap: 1rem;
      justify-content: center;
      .icon {
        cursor: pointer;
      }
    }
  }
  .footer {
    padding: 2rem 0;
    padding-bottom: 0;
    p {
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }
}
