@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Doris', sans-serif !important;
}

html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  //overflow-x: hidden;
}

button{
  padding: 10px 55px;
  border-radius: 35px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 10px;
  position: relative;
  text-decoration: none;
  transition: all .5s ease-in-out;
  display: inline-block;
}

body {
  position: relative;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}
