*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Dosis', 'Open Sans', sans-serif;
}


html, body, #root {
  font-size: 17px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  //overflow-x: hidden;
}

button {
  padding: 10px 55px;
  border-radius: 35px;
  font-size: 12px;
  font-weight: 600;
  //margin: 0 10px;
  position: relative;
  text-decoration: none;
  transition: all .5s ease-in-out;
  display: inline-block;
}

.title{
  border-left: 2px solid #13b1c5;
  padding-left: 20px;
}

body {
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.flex-column-sm {
  flex-direction: column;
  @media screen and (min-width: 576px) {
    flex-direction: initial;
  }
}
